{#
/**
 * @file
 * Template implementation for the keepeek theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - data: (array) All object data from Keepicker (use in template <span>{{ data.originalFileName }}</span>)
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
{% if is_video %}
  <video controls width="{{ width }}"><source src="{{ url }}" type="video/webm" /></video>
{% else %}
  <img src="{{ url }}" width="{{ width }}" height="{{ height }}" />
{% endif %}
